<ul class="nav">
    <li class="nav-item">
        <a href="/stall/<%=stall.id%>" class="nav-link"> stall </a>
    </li>
    <li class="nav-item">
        <a href="/content/all/<%=stall.id%>" class="nav-link"> contents </a>
    </li>
</ul>
<br>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

stall report page
<div class="container row">
    <div class="col-md-6">
        <canvas id="myChart" width="100" height="100"></canvas>
    </div>
    <div class="col-md-6">
        total visits : <%=visitCount %><br>
        total visit duration : <%=visitDuration %> 
        <br>
        visited Emails: <% stall.visitedEmails.forEach(email=>{%>
                <%=email %> 
                <br>
        <%}) %> 
    </div>
    
</div>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        datasets: [
            {
                label: 'number of Visits',
                data: <%- JSON.stringify(sample); %>,
                backgroundColor:['rgba(71, 225, 24, 1)'],
                parsing:{
                    yAxisKey: 'count'
                },
            },
            {
                label: 'duration of Visits in seconds',
                data: <%- JSON.stringify(sample); %>,
                backgroundColor:['rgba(41, 54, 37, 1)'],
                parsing:{
                    yAxisKey: 'duration'
                },
            }
        ]
    },
    options: {
        parsing:{
            xAxisKey: 'date'
        }
    }
});
</script>
