<br>
<div class="row">
    <div class="col-sm-6">
        <h3><center>STALLS</center> </h3>
        <br>
    </div>
    <div class="col-sm-6">
        <h3><center>ADVERTISEMENTS</center> </h3>
        <br>
    </div>
</div>

<div class="row">

<% if(stalls){%>
    <div class="col-sm-6">
        <%stalls.forEach(stall=>{ %>
            <div class="card">
                <div class="card-body row">
                    <div class="col-sm-8">
                        <h5 class="card-title"><%=stall.name%></h5>
                        <h6 class="card-title"><% if(stall.isSpecial){ %> Special <% }else{ %>Package_<%=stall.package %> <% } %>   </h6>
                        <p class="card-text"><%=stall.description%></p>
                        <a href="/stall/<%=stall.id%>" class="btn btn-primary">Visit Stall</a>
                    </div>
                    <div class="col-sm-4">
                        <img src="<%=stall.logoImage%>" height="150" width="150">
                    </div>
                </div>
            </div>
            <br>
        <% })%>
    </div>
<% } %> 


<% if(ads){%>
    <div class="col-sm-6">
        <%ads.forEach(ad=>{ %>
            <div class="card">
                <div class="card-body row">
                    <div class="col-sm-8">
                        <h5 class="card-title"><%=ad.headline%></h5>
                        <p class="card-text"><%=ad.description%></p>
                        <a href="/advertise/<%=ad.id%>" class="btn btn-primary">Visit Ad</a>
                    </div>
                    <div class="col-sm-4">
                        <img src="<%=ad.image%>" height="150" width="150">
                    </div>
                </div>
            </div>
            <br>
        <% })%>
    </div>
<% } %> 

</div>

