
<br>
<div>
    <a href="/exhibitor/add/<%=locals.event._id%>">add new exhibitor</a>  
    <br>
    <form action=""></form>
</div>
<hr>
<p class="h4">You have <%=6-special %> special stalls left and <%=20-basic %> common stalls left</p>


<% if(exhibitors){%>
        <table class="table table-sm table-dark">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Stall 1 Package</th>
                <th scope="col">Stall 2 Package</th>
                <th scope="col">Stall 3 Package</th>
                <th scope="col">Stall Special</th>
                <th scope="col">Advertising Space</th>
              </tr>
            </thead>
            <tbody>
                <% exhibitors.forEach(exhibitor=>{%>
                    <tr>
                        <td>
                            <%=exhibitor.name%> - <%=exhibitor.address%>
                        </td>
                        <td><% if(basic<20){ %> 
                                <form action="/stall/package1/<%=exhibitor.id%>" method="POST">
                                    <button type="submit">ADD</button>
                                </form>
                            <% }else{ %>
                                Full
                            <% } %>  
                        </td>
                        <td>
                            <% if(basic<20){ %> 
                                <form action="/stall/package2/<%=exhibitor.id%>" method="POST">
                                    <button type="submit">ADD</button>
                                </form>
                            <% }else{ %>
                                Full
                            <% } %>
                        </td>
                        <td>
                            <% if(basic<20){ %> 
                                <form action="/stall/package3/<%=exhibitor.id%>" method="POST">
                                    <button type="submit">ADD</button>
                                </form>
                            <% }else{ %>
                                Full
                            <% } %>
                        </td>
                        <td>
                            <% if(special<6){ %>
                                <form action="/stall/special/<%=exhibitor.id%>" method="POST">
                                    <button type="submit">ADD</button>
                                </form>
                            <% }else{ %>
                                Full
                            <% } %>  
                        </td>
                        <td>
                            <form action="/advertise/new/<%=exhibitor.id%>" method="POST">
                                <button type="submit">ADD</button>
                                </form>
                        </td>
                    </tr>
                <%}) %>   
            </tbody>
          </table>
<%}%> 


